body{
    background-color: var(--purple);
}
main{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url("/img/fig3.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-to-play{
    min-height: 120vh;
    background-image: url("/img/fig4.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-to-play figure{
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-to-play img{
    width: 70%;
}

.cardsAtaque{
    min-height: 40vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardsAtaque figure{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsAtaque img{
    width: 10%;
}

.cardsDefensa{
    min-height: 40vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardsDefensa figure{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsDefensa img{
    width: 10%;
}

img.top-image {
    position: absolute;
    top: -75%; 
    width: 880px; 
    height: auto;
    z-index: 10;
    
}

.videogame{
    background-color: var(--white);
    min-width: 920px;
    min-height: 540px;
}