body{
    background-color: var(--purple);
}
main{
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-image: url("/img/fig3.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-to-play{
    min-height: 100vh;
    background-image: url("/img/fig4.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.how-to-play figure{
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-to-play img{
    width: 70%;
}
.videogame{
    background-color: var(--white);
    min-width: 920px;
    min-height: 540px;
}