body {
  background-color: var(--pink);
}
main {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: url("/img/fig2.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.stats {
  position: relative;
  background-color: var(--white);
  min-width: 1200px;
  min-height: 600px;
  padding: 30px 50px 10px 50px;

  /* overflow: scroll; */
}

.title {
  position: absolute;
  width: 400px;
  margin: 0;
  top: 0;
  right: 0;
  transform: translate(10%, -40%);
}
.title img {
  transform: rotate(5deg);
}

#creatingChart {
  margin: 0;
}

/* .container,
.container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.chartContainer {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.chartContainer canvas {
  flex-grow: 1;
  max-width: 30%;
  max-height: 400px;
  margin: 2%;
}

.numbersboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
}

.titlecard {
  font-size: 16px;
}

.cardnumber {
  font-size: 24px;
  font-weight: bold;
}
