:root{
    --purple: #5E17EB;
    --pink: #FF66C4;
    --blue: #38B6FF;
    --white: #ffffff;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
header{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;
}
.header-content::after{
    content: '';
    width: 100%;
    background-color: var(--white);
    height: 1px;
    position: absolute;
    bottom: -15px;
}
header figure{
    margin: 0;
    width: 150px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}
li a{
    font-size: 22px;
    color: var(--purple);
    cursor: pointer;
}
li a:hover{
    color: color-mix(in srgb, var(--purple) 50%, #fff);
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}